<div class="comment">
  <% if comment.user.user_image && comment.user.user_image.public_filename(:avatar) %>
  <%= link_to( image_tag(comment.user.user_image.public_filename(:avatar)), {:controller => "user", :action => "show", :id => comment.user}) %>
  <% end %>
  <div class="text">
  <strong><%= h(comment.user.username) %></strong> wrote: <%= h(comment.comment) %>
  </div>
  <div class="clear"></div>
</div>
