= render :partial => @static_page
- if has_authority?
  %ul
    %li= link_to 'Edit this page', edit_static_page_path(@static_page)
    %li= link_to 'Delete this page', static_page_path(@static_page), :method => :delete
