<div class="announcement">
<h2><%=h announcement.title -%></h2>
<p>by <%= link_to h(announcement.user.username), user_path(announcement.user) -%> on <%= announcement.published_at -%></p>

<%= announcement.body_html -%>
</div>
