<% unless @announcements.empty? -%>
<%= render :partial => "announcement", :collection => @announcements -%>
<% else -%>
<p>No news yet&mdash;stay tuned!</p>
<% end -%>

<p class="pagination"><%= will_paginate @announcements, :container => false %></p>
