<div class="comment autoclear">
  <p class="avatar shadow"><%= link_to image_tag(comment.user.photo.url(:avatar)), user_path(comment.user) -%></p>
  <div class="text">
    <p><strong><%= link_to h(comment.user.username), user_path(comment.user) -%></strong> <% if comment.body -%>wrote:<% end -%>
    <% if moderator? -%>
      <%= link_to_if moderator?, "Moderate this comment", comment_path(comment), :method => :delete, :class => "moderate_comment", :confirm => "Are you sure? This will permanently delete the comment." %>
    <% end -%>
    </p>
    <div class="textile">
      <%= comment.body_html -%>
    </div>
  </div>
</div>
