body {
    background: #d4d1c1;
    color: #474646;
    font: 10pt Arial, Tahoma, Helvetica, sans-serif;
}

a {
    outline: none;
}

a:link, a:visited {
    color: #97481d;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

h2 {
    font-size: 10pt;
}
