html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html,
body {
	background: #dddbcf;
	height: 100%;
}

body {
	color: #474646;
	font: 62.5% Helvetica, Arial, Tahoma, sans-serif;
}

h2 {
	color: #474646;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 0.75em;
}

h3 {
	color: #474646;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 0.75em;
}

dt,
dd,
li,
p { font-size: 1.3em; }

dl,
p,
ul { margin: 0 0 1em; }

a { outline: none; }
a img { border: none; }

a:link,
a:visited {
    color: #97481d;
    text-decoration: none;
}

a:hover,
a:active { text-decoration: underline; }

form dt { line-height: 1.5; }
form dd { margin: 0 0 1.5em; }

form label span.reminder {
	color: #979696;
	font-style: italic;
}

form .example {
	color: #8c8c8c;
	font-style: italic;
}

strong a:link,
strong a:visited { color: #474646; }

strong a:hover { color: #97481d; }


table {
	border-collapse: collapse;
	width: 81em;
	border: 1px solid #ecece7;
}

th, td {
	padding: 0.1em 1em;
}

tr {
	border-bottom: 1px solid #ecece6;
}

thead {
	background: #f1f1f1;
	border-top 1px solid #ecece6;
	border-bottom: 1px solid #ecece6;
}

th {
	font-weight: bold;
	text-align: left;
}

.odd {
	background-color: #f7f7f6;
}

tr:hover {
	background-color: #f1f1f1;
	color: #000;
}

thead tr:hover {
	background-color: transparent;
	color: inherit;
}


*.autoclear { overflow: hidden; }

*.autoclear p.pagination { float:right; }

*.invisible {
	border: 0;
	clear: both;
	height: 0;
}

.button-to{
	margin: 20px 0;
}

ul.toolbar { float: left; }
ul.actions { float: right; }

ul.inline li,
ul.actions li { display: inline; }

ul.toolbar li {
	float: left;
	margin: 0 10px 0 0;
}

a.icon {
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}

a.app_add { background-image: url('/images/silk/application_add.gif'); }
a.app_delete { background-image: url('/images/silk/application_delete.gif'); }
a.app_edit { background-image: url('/images/silk/application_edit.gif'); }
a.app_get { background-image: url('/images/silk/application_get.gif'); }
a.cog { background-image: url('/images/silk/cog.gif'); }
a.help { background-image: url('/images/silk/help.gif'); }
a.zoom { background-image: url('/images/silk/magnifier_zoom_in.gif'); }

a.download { background-image: url('/images/download.png'); }
a.upload { background-image: url('/images/upload.png'); }
a.help { background-image: url('/images/help.png'); }
a.settings { background-image: url('/images/settings.png'); }
a.zoom { background-image: url('/images/zoom.png'); }

div.thumb {
	float: left;
	height: 122px;
	margin: 0 10px 38px 0;
	text-align: center;
	width: 194px;
}

p.preview {
	display: table-cell;
	height: 122px;
	vertical-align: middle;
	width: 194px;
}

p.preview img,
p.shadow img {
	background: transparent url('/images/shadow.gif') no-repeat bottom right;
	padding: 0 2px 3px 0;
}

div.thumb p.meta { font-size: 1.1em; }

p.pagination { clear: left; }

div.submission { margin: 0 0 20px;}

div.submission ul.toolbar {
	float: none;
	margin: 2px 0 1.3em;
}

div.submission ul.toolbar li {
	float: none;
	height: 16px;
	margin: 0;
}

div.submission ul.toolbar a {
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
}

div.submission div.autoclear {
	background: #e5e4dd;
	padding: 10px;
}

div.submission div.notes,
div.submission div.meta { float: left; }

div.submission div.notes {
	border-right: 1px solid #b9b9b0;
	width: 80%;
	padding: 0 10px 0 0;
}

div.submission div.meta { padding: 0 0 0 10px; }

div.review,
div.announcement,
div.comment {
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 1.3em;
}

div.review p.avatar,
div.comment p.avatar {
	float: left;
	width: 58px;
}

div.review div.text,
div.comment div.text {
	float: right;
	width: 742px;
}

.moderate_comment {
  float: right;
}

div.textile h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0 0 1em 0;
}

div.textile h1 { font-size: 2.6em;}
div.textile h2 { font-size: 2.1em;}
div.textile h3 { font-size: 1.6em;}
div.textile h4,
div.textile h5,
div.textile h6 { font-size: 1.3em;}

div.textile ul,
div.textile ol { margin: 0 0 1em 0; }

div.textile ul li { list-style-type: disc; }
div.textile ol li { list-style-type: decimal; }

div.textile strong { font-weight: bold; }
div.textile emphasis { font-style: italic; }

div.feature div.textile p,
div.feature div.textile li,
div.feature p.meta { font-size: 1.1em; }

div#superwrap {
	background: transparent url('/images/bg.png') top center repeat-y;
	margin: 0 auto;
	min-height: 100%;
	padding: 0 4px;
	width: 1000px;
}

p#headline {
	background: #e9e9e9;
	margin: 0 auto;
	padding: 1em 92px;
}

div#wrap {
	margin: 0 auto;
	min-height: 100%;
	width: 816px;
}

div#subwrap { padding: 40px 0 50px; }

div#head h1 a {
	background: url('/images/logo.gif') top left no-repeat;
	display: block;
	height: 24px;
	margin: 0 0 5px;
	text-indent: -9999px;
	width: 139px;
}

div#head ul.nav {
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 5px 0;
	padding: 0 0 25px 0;
}

div#head ul.nav li {
	color: #97481d;
	font-weight: bold;
	float: left;
	padding: 0 0.75em 0 0;
}

div#head ul.nav li a:link,
div#head ul.nav li a:visited {
	color: #464646;
	font-weight: bold;
}

div#head ul.nav li a:hover,
div#head ul.nav li a:active { color: #97481d; }

div#head ul.nav ul {
	background: #fff;
	border: 1px solid #e5e5e5;
	position: absolute;
	left: -999em;
}

div#head ul.nav li:hover ul { left: auto; }

div#head ul.nav ul li {
	display: block;
	float: none;
	font-size: 1em;
}

div#head ul.nav ul li a {
	display: block;
	line-height: 1.5;
	padding: 0 .5em;
}

div#head ul.nav li.administrator {
	color: #464646;
	cursor: pointer;
	font-weight: bold;
}

div#body {
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 5px 0;
	padding: 25px 0 50px;
}

div#foot ul.inline,
div#foot p { float: right; }

div#foot ul.inline li {
	border-left: 1px solid #c8c8c8;
	margin: 0 0 0 0.375em;
	padding: 0 0 0 0.375em;
}


body.sessions.new form dt {
	clear: left;
	float: left;
	width: 8em;
}

body.users.show dl.info,
body.users.show dl.stats {
  width: 194px;
}

body.users.show dl.info dt,
body.users.show dl.info dd,
body.users.show dl.stats dt,
body.users.show dl.stats dd {
  float: left;
  font-size: 1.1em;
}

body.users.show dl.info dt { width: 51px; }
body.users.show dl.info dd { width: 143px; }

body.users.show dl.stats dt { width: 113px; }

body.users.show div.review {
	border: 0;
	float: left;
	height: 172px;
	margin: 0 10px 38px 0;
	text-align: center;
 	width: 194px;
}

body.users.show div.review p.meta,
body.users.show div.review p.comment { font-size: 1.1em; }

body.users.show div.review p.comment {
	border-left: 1px solid #c8c8c8;
	margin: 0 0 0 8px;
	padding: 4px;
	text-align: left;
	width: 100%;
}

body.users.show div.review p.comment span { color: #97481d; }

body.users.show p.photo { float: left; }
body.users.show p.banner { float: right; }

/* Forums */

#breadcrumb {
	margin-bottom:20px;
}

.post {
	padding:20px 0;
	vertical-align:text-top;
	clear:both;
	min-height: 80px;
}
.post-left {
	width:120px;
	float:left;
}
.post-right{
	float:left;
	width:670px;
}

.post h3{
	background:#E5E5E5;
	padding:5px;
}

#firstpost{
	padding-top: 0px;
}

table#forums .group-info a{
	font-weight: bold;
	font-size: 1.3em;
}

table#forums .group-info{
	margin-left: 15px;
}

table#forums col#title {
	width:420px;
}

table#forums col#topics {
	width:70px;
}

table#forums col#posts {
	width:70px;
}

table#forums col#edit {
	width:40px;
}

table#forums col#delete {
	width:40px;
}

table#topics {
	margin-bottom: 15px;
}

table#topics thead, table#forums thead tr{
	height:35px;
	background:#ebebe5;
	font-size:1.3em;
}

table#topics, table#forums{
	border:none;
	text-align:center;
}

table#topics th, table#forums th {
	text-align:center;
}

table#topics th.left-align, table#forums th.left-align, .left-align {
	text-align:left;
}

table#topics col{
	border-right:1px solid #ebebe5;
}

table#topics col#last-post, table#forums col#last-post {
	border-right:none;
}

table#topics tr{
	height:40px;
}

table#forums tr{
	height:75px;
}

