<li>
	<% if user.user_image %>
		<%= link_to image_tag(user.user_image.public_filename(:tiny)), user_path(user) %>
	<% end %>
	<%= link_to h(user.username), user_path(user) %>
	<%= link_to "Delete", user_path(user), :method => :delete, :confirm => 'Are you sure?' %>
	<%= link_to "Edit", edit_user_path(user) %>
</li>
