<div id="featured" class="shadow">
	<div>
		<%= link_to image_tag(@featured.featured_image.public_filename), :controller => '/feature', :action => 'show', :id => @featured %>
		<br />
		<span class="description">
		<br />
			<%=  RedCloth.new(h(@featured.comment)).to_html %> chosen by <%=h @featured.user.username %>
		</span>
	</div>
</div>