                <li><%= link_to_unless_current("Home", {:controller => "/application"}) %></li>
                <li><%= link_to_unless_current("Browse", {:controller => "/browse"}) %></li>
                <li><%= link_to "Forum", "http://gypsyspacemuffin.com/viewforum.php?id=25", :popup => true %></li>
                <li><%= link_to "Chat", "http://widget.mibbit.com/?settings=b83bd4ad31af2c8b6c95305c290360fd&server=irc.freenode.net&channel=%23pixelfuckers&autoConnect=true", :popup => true %></li>