<h2>Listing Moderated Submissions</h2>

<% unless @submissions == nil  %>
	<%= render(:partial => "submission_preview", :collection => @submissions) %>
<% end %>

<%= will_paginate @submissions %>

<br />
