<div class="featured_preview">
  <% if feature.preview %>
    <%= link_to image_tag(feature.preview.url(:thumbnail)), feature_path(feature) %>
  <% end %>
  <p class="featured_preview_text"><%= link_to h(feature.user.username), feature_path(feature) %></p>
</div>
