<div class="user_preview">
  <% unless user.user_image.nil?  %>
    <%= link_to image_tag(user.user_image.public_filename(:tiny)), user_path(user) %>
  <% end %>
  <p class="user_preview_text"><%= link_to h(user.username), user_path(user) %></p>
</div>
