<h2>Top Submissions</h2>

<%= render :partial => "form" -%>

<%= render :partial => "submissions/submission", :collection => @submissions -%>

<p class="pagination"><%= will_paginate @submissions, :container => false %></p>
