<div class="submissionSmall">
  <%= link_to(image_tag(submission.sub_image.public_filename(:tiny)), :controller => 'submission', :action => 'show', :id => submission) %>
  <p><%= h(submission.title) %> <%= link_to "Remove From Trash", :controller => 'submission', :action => 'remove_from_owners_trash', :id => submission %>
</p>
</div>