<h1>Editing User Profile</h1>

<%= error_messages_for(:user) %>

<% form_for (:user, :url => {:action => 'update', :id => @user}, :html => {:multipart => true}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @submission %> |
<%= link_to 'Back', :action => 'list' %>