<h2><%=h @category.title %></h2>

<%= @category.description_html %>

<%= render :partial => "submissions/submission", :collection => @submissions -%>

<p class="pagination"><%= will_paginate @submissions, :container => false -%></p>
