<h2>Featured</h2>

<% if @featured %>
<%= render :partial => "features/feature", :object => @featured %>
<% end %>

<%= render :partial => "submissions/submission", :collection => @submissions %>

<%= will_paginate @submissions %>
