<div class="review autoclear<% if review.by_administrator -%> moderator<% end -%>">
  <p class="avatar shadow"><%= link_to image_tag(review.user.photo.url(:avatar)), user_path(review.user) -%></p>
  <div class="text">
    <p><strong><%= link_to h(review.user.username), user_path(review.user) -%><% if review.rating -%> [<%=h review.rating -%>]<% end -%></strong><% unless review.uncommented? -%> wrote: <% end -%></p>
    <% if review.comment -%>
    <div class="textile">
      <%= review.comment_html -%>
    </div>
    <% end -%>
  </div>
</div>
