<div class="thumb">
  <p class="preview"><%= link_to image_tag(feature.preview.url(:thumbnail)), featured_path(feature) -%></p>
  <p class="meta">chosen by <%= link_to h(feature.user.username), user_path(feature.user) %></p>
</div>
