<h2>Submissions to Feature</h2>

<%= render :partial => @submissions -%>

<hr class="invisible" />

<h3>Submit Feature</h3>
<% form_for @feature, :url => featured_path, :html => { :multipart => true } do |f| -%>
<%= render :partial => "form", :locals => { :f => f } -%>
<p><%= submit_tag "Feature these submissions" -%></p>
<% end -%>
