<h2><%=h @feature.title %></h2>

<%= render :partial => "features/feature", :object => @feature %>

<%= render :partial => "submissions/submission", :collection => @submissions %>

<% if has_authority? -%>
<%= link_to "Edit this feature", edit_feature_path(@feature) %> |
<%= link_to "Delete this feature", feature_path(@feature), :method => :delete, :confirm => "Are you sure?" %>
<% end -%>
