<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%= render(:partial => "shared/layout_head") %>
</head>
<%= render(:partial => "shared/layout_ga") %>
<body>

<div id="container">
    <div id="wrapper">
        <div id="header">
            <input type="text" name="search" id="search" value="Search "/>
            <a href="/"><h1>Pixelfuckers</h1></a>
            <ul>
             <%= render(:partial => "shared/layout_menu") %>
            </ul>
            <div class="iconbar">
                <a href="#" class="icon app_get" title="New submission">
                    New submission</a>
                <a href="#" class="icon help" title="Help">
                    Help</a>
                <span class="right">
                    <%= link_to "Login", {:controller => "session", :action => "new"} %> or
                    <%= link_to "Register", {:controller => "/user", :action => "register"} %>
                </span>
            </div>
        </div>
        <div id="content">
            <p style="color: green"><%= flash[:notice] %></p>
            <p style="color: red"><%= flash[:warning] %></p>
            <div id="submissions">
                <%= yield  %>
                <div class="clear" />
            </div>
        </div>
        </div>
    </div>
    <div id="footer">
        <a href="#" class="icon app_get" title="New submission">
            New submission</a>
        <a href="#" class="icon help" title="Help">
            Help</a>
        <span class="right">
            <span class="cr">
                &copy; Pixelfuckers.org - All Rights Reserved
            </span> |
            <a href="#">About us</a> | <a href="#">Contact</a> |
            <a href="#">Privacy</a> | <a href="#">Terms</a>
        </span>
    </div>

</body>
</html>
